<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device - width, initial-scale=1.0">
    <title>TicTacToe</title>
    <link rel = "stylesheet" href="main.css">
</head>
<body>
<h1>Крестики нолики</h1>
<div class="area-wrapper">
    <div id="area">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</div>
    <script src="main.js"></script>
</body>
</html>